#chartContainer {
	display: inline-block;
}

#dropdown-label {
	display: inline-block;
	text-align: left;
	width: 75px;
	word-spacing: -10px;
}

/* Styles related to the tooltip */
.d3-tip {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	padding: 8px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	display: inline;
	font-size: 10px;
	line-height: 1;
	position: absolute;
	text-align: center;
	width: 100%;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	left: 0;
	margin: -1px 0 0 0;
	top: 100%;
}

.d3-tip span {
	color: red;
	line-height: 18px;
	vertical-align: middle;
}
